PORTAL_USERNAME=your_portal_username
PORTAL_PASSWORD=your_portal_password
TERMINAL_USERNAME=your_terminal_username
TERMINAL_PASSWORD=your_terminal_password
CPARS_URL=https://fsp.portal.covisint.com/ford_en_US/
